<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Drishti_Computers.My.MySettings.DrishtiConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Drishti.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Drishti_Computers.My.MySettings.Database1ConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Drishti_Computers.My.MySettings.DrishtiConnectionString1"
      connectionString="Data Source=DESKTOP-EBQ0I71;Initial Catalog=Drishti;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Drishti_Computers.My.MySettings.DrishtiDBConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DrishtiDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="Drishti_Computers.My.MySettings.DrishtiDB1ConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DrishtiDB1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>